.hotel-container {
    height: 600px;
    padding: 10px;
    border: 1px solid lightgray;
    overflow: auto;
    border-radius: 10px;
    margin: 15px;
}

.hotel-img {
    display: block;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
}

.hotel-card {
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 3px 3px #888888;
    display: grid;
    grid-template-areas: 'left right';
}

.hotel-card .left-content {
    grid-area: left;
    text-align: center;
    margin: 10px;
}

.hotel-card .right-content {
    grid-area: right;
    text-align: center;
    margin: 10px;
}

.airbnb-container {
    height: 300px;
    padding: 10px;
    border: 1px solid lightgray;
    margin: 10px;
}

.airbnb-logo {
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.airbnb-datebox {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.airbnb-button {
    color: white;
    background-color: #fd5c63;
    padding: 5px 10px;
    border-radius: 15px;
    border-style: none;
    font-size: 15px;
    margin: 15px;
}

@media only screen and (max-width: 1000px) {

    .hotel-card {
        grid-template-areas: 'top' 'bottom';
    }

    .hotel-card .left-content {
        grid-area: top;
        text-align: center;
        margin: 10px;
    }
    
    .hotel-card .right-content {
        grid-area: bottom;
        text-align: center;
        margin: 10px;
    }
}
