.main-container {
    background-color: white;
    max-width: 65%;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px;
}

.main-container > h1, h4, p{
    text-align: center;
}

.main-container > form {
    text-align: left;
}

.desktop-button {
    color: white;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 15px;
    border-style: none;
    font-size: 25px;
}
