#advisor-chat-container {
    z-index: 1;
    width: 350px;
    height: 500px;
    border: 1px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
}

ul {
    list-style-type: none;
}

#chat ul {
    position: relative;
    padding: 0;
}

#chat-title {
    background-color: dodgerblue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#chat-title h3 {
    grid-column: 1/2;
    margin: auto;
    margin-left: 15px;
    color: white;
    padding: 15px 0px;
}

#chat-title img {
    height: 30px;
    width: 30px;
    grid-column: 2/3;
    display: block;
    margin: auto;
    margin-right: 0px;
    padding-right: 15px;
}

#chat-title img:hover {
    cursor: pointer;
}

#chat {
    background-color: white;
    width: 370px;
    max-height: 385px;
    overflow-y: scroll;
}

#chat li {
    padding: 0px 10px;
    border-radius: 8px;
    margin: 10px 0px;
    overflow: hidden;
}

#chat li:nth-child(odd) p {
    background-color: aliceblue;
    float: left;
}

#chat li:nth-child(even) p {
    background-color: antiquewhite;
    float: right;
}

#chat p {
    margin: 0px;
    padding: 10px;
    max-width: 200px;
    border-radius: 7px;
}

#advisor-chat-container input[type=text] {
    display: block;
    margin: auto;
    border: none;
    width: 95%;
    padding: 10px 5px;
    border-top: 1px solid lightgray;
}

#chat-button {
    width: 70px;
    height: 70px;
    padding: 0px;
    position: fixed;
    right: 0;
    top: 15%;
    background-color: darkorange;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#chat-button img {
    width: 70px;
    height: 70px;
    margin: auto;
}

#chat-button:hover {
    cursor: pointer;
    background-color: orange;
}

@media only screen and (max-width: 768px) {
    #chat-button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        right: auto;
        top: auto;
        bottom: 3%;
        right: 3%;
    }

    #chat-button img {
        width: 40px;
        height: 40px;
    }
}
