#advisor-chat-container {
    width: 350px;
    height: 500px;
    border: 1px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

#chat-title {
    background-color: dodgerblue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#chat-title h3 {
    grid-column: 1/2;
    margin: auto;
    margin-left: 15px;
    color: white;
    padding: 15px 0px;
}

#chat-title img {
    grid-column: 2/3;
    display: block;
    margin: auto;
    margin-right: 0px;
    padding-right: 15px;
}

#chat-title img:hover {
    cursor: pointer;
}

#chat {
    background-color: white;
    width: 370px;
    max-height: 385px;
    overflow-y: scroll;
}

#chat li {
    padding: 0px 10px;
    border-radius: 8px;
    margin: 10px 0px;
    overflow: hidden;
}

#chat li:nth-child(odd) p {
    background-color: aliceblue;
    float: left;
}

#chat li:nth-child(even) p {
    background-color: antiquewhite;
    float: right;
}

#chat p {
    margin: 0px;
    padding: 10px;
    max-width: 200px;
    border-radius: 7px;
}

#advisor-chat-container input[type=text] {
    display: block;
    margin: auto;
    border: none;
    width: 95%;
    padding: 10px 5px;
    border-top: 1px solid lightgray;
}
