body {
    margin: 0;
}

#top-header {
    background-color: black;
    color: gray;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}

#top-header h1 {
    grid-column: 1/4;
    margin: 10px;
    margin-left: 20px;
}

#desktop-nav {
    grid-column: 4/8;
    list-style-type: none;
    margin: auto;
    margin-right: 10px;
}

#desktop-nav li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.6em
}

#desktop-nav li:first-child {
    border-right: 1px solid gray;
}

#desktop-nav li, #mobile-nav li:not(:last-child),
#top-header h1 {
    cursor: pointer;
}

#desktop-nav li:hover, #mobile-nav li:not(:last-child):hover {
    color: white;
}

#desktop-nav select {
    min-width: 130px;
    font-size: 0.7em;
    border-radius: 5px;
    padding-left: 15px;
}

#mobile-nav {
    grid-column: 1/8;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

#mobile-nav li {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
    border-top: 1px solid gray;
    margin-left: 15px;
    margin-right: 15px;
}

#mobile-nav select {
    min-width: 130px;
    font-size: 0.7em;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#top-header img {
    margin: auto;
    margin-right: 15px;
}

#top-header img, #mobile-nav {
    display: none;
}

#invite-border {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 700px;
    border: 3px solid #000000;
    padding: 20px;
    text-align: center;
}

#signup-border {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 700px;
    border-radius: 25px;
    border: 3px solid #000000;
    padding: 20px;
}

#login-border {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 700px;
    border-radius: 25px;
    border: 3px solid #000000;
    padding: 20px;
    text-align:center;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }

.login-button {
    background-color: #3B5998; 
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    display: block;
}

.label, .input {
    display: block;
}

.label {
    margin-bottom: 20px;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.center {
    margin: auto;
    width: 35%;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    #top-header img {
        grid-column: 6/8;
        display: block;
    }

    #top-header h1 {
        grid-column: 1/6;
    }

    #desktop-nav {
        display: none;
    }
}
