body {
    margin: 0;
}

#top-header {
    background-color: black;
    color: gray;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}

#top-header h1 {
    grid-column: 1/4;
    margin: 10px;
    margin-left: 20px;
}

#top-header ul {
    grid-column: 4/8;
    list-style-type: none;
    margin: auto;
    margin-right: 10px;
}

#top-header li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.6em
}

#top-header li:first-child {
    border-right: 1px solid gray;
}

#top-header select {
    min-width: 130px;
    font-size: 0.7em;
    border-radius: 5px;
    padding-left: 15px;
}

#top-header img {
    display: none;
}

@media only screen and (max-width: 768px) {
    #top-header img {
        grid-column: 6/8;
        display: block;
        margin: auto;
        margin-right: 15px;
    }

    #top-header h1 {
        grid-column: 1/6;
    }

    #top-header ul {
        display: none;
    }
}
