body {
    margin: 0;
}

#top-header {
    background-color: black;
    color: gray;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}

#top-header h1 {
    grid-column: 1/4;
    margin: 10px;
    margin-left: 20px;
}

#desktop-nav {
    grid-column: 4/8;
    list-style-type: none;
    margin: auto;
    margin-right: 10px;
}

#desktop-nav li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.6em
}

#desktop-nav li:first-child {
    border-right: 1px solid gray;
}

#desktop-nav li, #mobile-nav li:not(:last-child),
#top-header h1 {
    cursor: pointer;
}

#desktop-nav li:hover, #mobile-nav li:not(:last-child):hover {
    color: white;
}

#desktop-nav select {
    min-width: 130px;
    font-size: 0.7em;
    border-radius: 5px;
    padding-left: 15px;
}

#mobile-nav {
    grid-column: 1/8;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

#mobile-nav li {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
    border-top: 1px solid gray;
    margin-left: 15px;
    margin-right: 15px;
}

#mobile-nav select {
    min-width: 130px;
    font-size: 0.7em;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#top-header img {
    margin: auto;
    margin-right: 15px;
}

#top-header img, #mobile-nav {
    display: none;
}

.label, .input {
    display: block;
}

.label {
    margin-bottom: 20px;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.center {
    margin: auto;
    width: 35%;
    padding: 10px;
}

#top-header img {
    height: 50px;
    width: 50px;
}

.flight-icons {
    height: 10px;
    width: 10px;
}

@media only screen and (max-width: 768px) {
    #top-header img {
        grid-column: 6/8;
        display: block;
    }

    #top-header h1 {
        grid-column: 1/6;
    }

    #desktop-nav {
        display: none;
    }
}
