#progress-bar {
    border: 1px solid black;
    width: 200px;
    height: 20px;
    margin: auto;
    margin-top: 30px;
}

#progress-bar div {
    width: 75px;
    height: 20px;
    background-color: dodgerblue;
}

#desktop-button {
    color: white;
    background-color: #fd5c63;
    padding: 5px 10px;
    border-radius: 15px;
    border-style: none;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#location-container {
    max-width: 65%;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

#hotel-container {
    max-width: 50%;
    width: 50%;
    height: 50%;
    border: 2px solid grey;
    margin: auto;
    margin-top:10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#hotel-logo {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
}

#area-container > h3 {
    margin-left: 10px;
}

#top-prompt {
    text-align: center;
}

#top-prompt h4 {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#top-prompt h1 {
    margin-bottom: 10px;
}


#area-container {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-top: 2px solid black;
    margin-top: 10px;
    max-height: 500px;
    text-align: center;
}

#hotel-pic-l{
    float:left;    
    height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 250px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 25px;
}

#hotel-pic-r{
    float:right;    
    height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 250px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 25px;
}


#progress-buttons {
    width: 75%;
    margin: auto;
    margin-bottom: 75px;
    overflow: hidden;
}

#progress-buttons button {
    background-color: dodgerblue;
    color: white;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 6px;
}

#progress-buttons button:first-child {
    float: left;
}

#progress-buttons button:last-child {
    float: right;
}

#progress-buttons button:hover {
    background-color: steelblue;
    cursor: pointer;
}

#chat-comments {
    background-color: lightgray;
    padding: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

#chat-comments h2 {
    margin: 0;
    padding-bottom: 10px;
}

#chat-comments form {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
}

#chat-comments input[type=text] {
    width: 80%;
    padding: 5px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
}

#chat-comments-all {
    list-style-type: none;
    padding: 0px;
    max-height: 200px;
    overflow: auto;
}

.comment-author {
    border-top: 1px solid gray;
    font-weight: bold;
    padding-top: 5px;
}

.comment-content {
    padding-bottom: 10px;
    padding-left: 50px;
    line-height: 1em;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

@media only screen and (max-width: 768px){
    #location-container {
        max-width: 90%;
    }

    #search-filter input[type=text]{
        width: 80%;
    }

    #area-container full-area{
        grid-template-areas: 'left' 'right';
    }
}
