#progress-bar {
    border: 1px solid black;
    width: 200px;
    height: 20px;
    margin: auto;
    margin-top: 30px;
}

#progress-bar div {
    width: 140px;
    height: 20px;
    background-color: dodgerblue;
}

#group-chat-container {
    max-width: 65%;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px;
}

#top-prompt {
    text-align: center;
}

#top-prompt h4 {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#top-prompt h1 {
    margin-bottom: 10px;
}

#chat-interact-bar {
    overflow: hidden;
    border-bottom: 1px solid gray;
    padding: 10px 0px;
}

#chat-interact-bar h6 {
    float: left;
    margin: auto;
    line-height: 30px;
}

#chat-interact-bar ul {
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    padding-left: 10px;
}

#chat-interact-bar li {
    font-size: 0.6em;
    margin: 0px 5px;
    line-height: 30px;
}

#chat-interact-bar li:not(:last-child) {
    float:left;
}

#desktop-button {
    float: right;
    color: white;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 15px;
    border-style: none;
}

#mobile-button {
    color: white;
    background-color: orange;
    padding: 5px 10px;
    width: 100%;
    margin: auto;
    border-style: none;
    border-radius: 4px;
    display: none;
}

#chat-main-content {
    display: grid;
    grid-template-areas:
        'left right right right'
        'left right right right'
        'left right right right';
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid gray;
}

.flight-icons {
    margin-left: 5px;
    margin-right: 5px;
    width: 10px;
    height: 10px;
}

#left-content {
    grid-area: left;
    overflow: auto;
    max-height: 400px;
    border-right: 1px solid gray;
}

#right-content {
    grid-area: right;
    overflow: auto;
    max-height: 400px;
}

#left-content ul, #right-content ul {
    list-style-type: none;
    position: relative;
}

#left-content > ul {
    padding-left: 5px;
}

#left-content h5 {
    margin-bottom: 10px;
}

.left-content-dates {
    padding-left: 5px;
    overflow: hidden;
}

.left-content-dates p, .right-content-dates p {
    margin: 0;
}

.left-content-dates div {
    float: left;
    text-align: center;
    color: gray;
    margin: 0px 5px;
    padding: 5px;
}

.left-content-date-month {
    font-size: 0.5em;
}

.left-content-date-day {
    font-size: 1.2em;
}

.right-content-dates {
    text-align: center;
    max-width: 30px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.right-content-date-month {
    font-size: 0.6em;
    color: gray;
}

.right-content-date-day-of-month {
    font-size: 1.5em;
}

.right-content-date-day {
    font-size: 0.6em;
}

#right-content li {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    border-bottom: 3px solid gray;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}

.right-content-activity-title {
    font-size: 1.2em;
    margin: auto 0px;
    grid-column: 2/6;
    grid-row: 1/2;
}

.right-content-activity-times {
    font-size: 0.8em;
    padding-top: 10px;
    grid-column: 1/2;
    grid-row: 2/3;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

.right-content-activity-description {
    font-size: 0.8em;
    padding-top: 10px;
    padding-left: 10px;
    grid-column: 2/6;
    grid-row: 2/3;
    border-top: 1px solid gray;
}

.duration, .right-content-activity-times {
    color: gray;
}

#chat-comments {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#chat-comments h2 {
    margin: 0;
    padding-bottom: 10px;
}

#chat-comments form {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
}

#chat-comments input[type=text] {
    width: 80%;
    padding: 5px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
}

#chat-comments-all {
    list-style-type: none;
    padding: 0px;
    max-height: 200px;
    overflow: auto;
}

.comment-author {
    border-top: 1px solid gray;
    font-weight: bold;
    padding-top: 5px;
}

.comment-content {
    padding-bottom: 10px;
    padding-left: 50px;
    line-height: 1em;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

#progress-buttons {
    width: 75%;
    margin: auto;
    margin-bottom: 75px;
    overflow: hidden;
}

#progress-buttons button {
    background-color: dodgerblue;
    color: white;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 6px;
}

#progress-buttons button:first-child {
    float: left;
}

#progress-buttons button:last-child {
    float: right;
}

#chat-interact-bar li, #desktop-button, #mobile-button,
.left-content-dates div, #progress-buttons button {
    cursor: pointer;
}

.left-content-dates div:hover {
    border: 1px solid black;
}

#desktop-button:hover, #mobile-button:hover {
    background-color: darkorange;
}

#progress-buttons button:hover{
    background-color: steelblue;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
    background-color: white;
    width: 400px;
    margin: 0% auto;
    margin-top: 5%;
    text-align: center;
    border-radius: 5px;
}

#modal-content h4 {
    color: white;
    background-color: darkorange;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 10px;
}

#modal-content form div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    border-top: 1px solid black;
    padding-top: 5px;
}

#modal-content p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.reg-input {
    margin: 5px auto;
    margin-left: 20px;
}

#modal-content textarea {
    max-width: 80%;
}

#submit-activity-button {
    width: 100%;
    background-color: limegreen;
    color: white;
    border: none;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

#submit-activity-button:hover {
    background-color: lime;
}

@media only screen and (max-width: 768px) {
    #chat-main-content {
        grid-template-areas:
            "left"
            "right";
    }

    #right-content ul {
        padding: 0px;
    }

    #left-content {
        border: none;
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
    }

    #mobile-button {
        display: block;
        margin: 5px 0px;
    }

    #desktop-button {
        display: none;
    }

    #top-prompt h4 {
        font-size: 3.2vw;
        margin-left: 3%;
        margin-right: 3%;
    }

    #top-prompt h1 {
        font-size: 4.4vw;
    }

    #chat-comments input[type=text] {
        width: 95%;
    }

    .comment-content {
        padding-left: 10%;
    }

    #modal-content {
        width: 80%;
        margin-top: 15%;
    }
}
