#progress-bar {
    border: 1px solid black;
    width: 200px;
    height: 20px;
    margin: auto;
    margin-top: 30px;
}

#progress-bar div {
    width: 40px;
    height: 20px;
    background-color: dodgerblue;
}

#calender-container {
    background-color: white;
    max-width: 65%;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px;
}

#top-prompt {
    text-align: center;
}

#top-prompt h4 {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#top-prompt h1 {
    margin-bottom: 10px;
}

#calender {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

 #month-select {
    display: block;
    bottom: 0;
 }

 #month-select h1 {
     text-align: center;
     background-color: steelblue;
     border: 1px solid black;
 }

 #month-select button {
     text-align: center;
     background-color: steelblue;
    color: white;
    border: none;
    font-size: 1em;
    padding: 4px 4px;
    border-radius: 2px;
 }
 
 #month-select button:hover {
     background-color: dodgerblue;
 }

#calender table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid black;

}

#calender table th {
    background-color: steelblue;
    border: 1px solid black;
    border-collapse: collapse;
}

#calender table tr {
    min-width: 10%;
    max-width: 14%;
    min-height: 10%;
    max-height: 16%;
}

#calender table td{
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
}

#calender table td:active{
    background-color: gray;
}

#progress-buttons {
    width: 75%;
    margin: auto;
    margin-bottom: 75px;
    overflow: hidden;
}

#progress-buttons button {
    background-color: dodgerblue;
    color: white;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 6px;
}

#progress-buttons button:first-child {
    float: left;
}

#progress-buttons button:last-child {
    float: right;
}

#progress-buttons button:hover {
    background-color: steelblue;
}

@media only screen and (max-width: 768px){
    #calender-container {
        max-width: 90%;
    }

    #calender {
        margin-left: 0%;
        margin-right: 0%;
    }
}